.box {
	position: relative;
	top: 5px;
	border: 3px solid black;
	border-radius: 1em;
	padding: 10px;
	height: 520px;
}

.box figure, h3 , p {
	text-align: center;
}

.box img {
	border: 1px solid black;
	border-radius: 1em;
}

.box figure figcaption {
	font-style: italic;
}

.box a:hover {
	text-decoration: none;
	color: rgba(150,150,150);
	border-color: rgba(150, 150, 150);
}

.box a {
	color: rgba(50,50,50);
	text-decoration: none;
	padding: 5px 13px;
	background-color: rgba(200, 200, 200);
	border: 1px solid black;
	border-radius: 1em;
}